[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
markdown-to-json = "*"
numpy = "*"
pyparsing = "*"
Pint = "*"
PyLaTeX = "*"
PyYAML = "*"
pyerrorprop = {git = "https://github.com/CD3/pyErrorProp"}
macro-expander = {git = "https://github.com/CD3/macro_expander"}

[requires]
python_version = "3.6"
