[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
jedi = "*"

[packages]
markdown-to-json = "*"
numpy = "*"
pyparsing = "*"
Pint = "*"
PyLaTeX = "*"
PyYAML = "*"
macro-expander = "*"
pyerrorprop = "*"

[requires]
python_version = "3.6"
